@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-oswald);
  font-weight: bold;
  @apply text-darkBlue;
}
